[Desktop Entry]
Encoding=UTF-8
Name=StakeCoin
Comment=StakeCoin P2P Cryptocurrency
Comment[fr]=StakeCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=StakeCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/stakecoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/stakecoin;
Categories=Office;
